.authNav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    background-color: #f0f0f0;
    color: #000;
}

.link.active {
    color: white;
    background-color: #1976d2;
    /* Primary blue */
}